@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-out;
}

.animate-progress-bar {
  animation: progress-bar 5s linear;
}